# python
/frontend/.venv/
**/__pycache__/

# Mac stuff
.DS_Store

# Clion/Jetbrains stuff
.idea/


external/

.cache/
backend/build/

# CMake build files
CMakeUserPresets.json
CMakePresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Conan files
conan.lock
conanbuild.sh
conanrun.sh
conanbuildenv-*.sh
conanrunenv-*.sh
deactivate_conanbuild.sh
deactivate_conanrun.sh
conan_toolchain.cmake
conandeps_legacy.cmake
conanbuildinfo.cmake
graph_info.json

# Compiled binaries & object files
CppLearn
*.o
*.so
*.a
*.out
*.exe

# Logs & temporary files
*.log
*.tmp
*.swp
*.swo
*.bak
